/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*source for header: https://www.htmlgoodies.com/beyond/css/css-ref/building-responsive-web-page-headers.html */

/*adding in responsiveness with viewport width 559px*/
@media(max-width: 599px){
	#header .container{
		width: 100%;
		}
		#header h1{
			padding-left: 3%;
		}
		#nav {
			width: 100%;
			top: 60px;
		}
		#nav:before{
			content: '\2630';
			display: block;
			position: absolute;
			right: 3%;
			top: -50px;
			line-height: 40px;
			font-size: 1.4em;
			cursor: pointer;
		}
		#nav ul{
			background: #222;
			width: 100%;
			margin: 0px;
		}
		#nav ul li{
			float: none;
		}
		#nav ul li a{
			padding: 10px 3%;
			line-height: 20px;
			border-top: 1px solid #333;
		}
}


body{
	letter-spacing: .02em;
	color: #222;
	margin: 0 5%;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 100%;
	font-family: helvetica, sans-serif;
}
#header{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #fff;
	color: #000;
}
#header h1{
	top: 0px;
	margin: 0px;
	text-transform: uppercase;
	font-size: 1.2em;
}
/*navigation -----------------*/
#nav{
	position: absolute;
	right: 10%;
	top: 0px;
	height: 60px;
}
#nav ul li{
	float: left;
	list-style: none;
}
#nav ul li a{
	display: block;
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;
}
a {
	color: black;
}
a:hover{
	color: blue;
}
/*hero image ---------------------------------------------------------*/
.hero{
	padding: 0;
	min-height: 700px;
	text-align: center;
	position: relative;
	background-color: #d56d4d; /*layer fill content*/
	color: white; 
}
.hero-image{
	background: url("..ales-krivec.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity: .9;
}
.hero-image:after{
	content: '';
	opacity: .65;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSIxMDAlIiB5MT0iNTAlIiB4Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiNDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmYWI0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /*gradient overlay*/
	background-image: -moz-linear-gradient (right, #bb4242 0%, #efab4a 100%); /*gradient overlay*/
	background-image: -o-linear-gradient(right, #bb4242 0%, #efab4a 100%);
	background-image: -webkit-linear-gradient(right, #bb4242 0%, #efab4a 100%);
	background-image: linear-gradient(right, #bb4242 0%, #efab4a 100%);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.hero h1{
	font-size: 32px;
}
.hero p{ 
	padding: 0 15%;
}
.hero .separator:before{
	background-color: white;
}

/*separator in hero*/
.separator{
	position: relative;
	margin-bottom: 1.7em;
	padding-bottom: 1.7em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: inherit;
}
.separator:before{
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 86px;
	height: 2px;
	background-color: #222;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.separator.orange:before{
	background-color: #d87843;
}
.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/* intro ------------------------------- */
.columns{
	margin: 10em auto;
	min-height: 350px;
	max-width: 100%;
	background-color: gray;
	opacity: .8;
	color: white;
	text-align: left;
}
.intro .col{
	float: left;
	width: 300px;
	height: 300px;
	padding: 25px 10px 10px 25px;
}
.intro .col:first-child{
	width: 450px;
}
/*section general styling---------*/
.row{
	width: 100%;
	padding-bottom: 30px;
	margin: 0 auto;
}
.row h3{
	font-size: 32px;
	text-transform: uppercase;
}
/*leaf items-----------------------*/
#portfolio{
	text-align: center;
}
.leaf-items{
	width: 100%;
}
.leaf-items li{
	display: inline-block;/* list items are block elements. to make them horizontal, add inline*/
	position: relative;
	height: 250px;
	padding: 2px 2px;
}
.leaf-items li img{
	width: auto;
	height: 100%;
	display: block;
}
/*leaf details--------------------*/
.leaf-detail{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	
	opacity: 0;
	background: rgba(0,0,0,.75);
	color: white;
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.leaf-detail h3{
	font-size: 16px;
	letter-spacing: .05em;
}
.leaf-items li:hover .leaf-detail {
	opacity: 1;
	/*
	box-shadow: inset 0 0 0 10px #222; replace pixel for last unit to set border*/
}
.vertical-centered{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
/*footer section */
.footer{
	border-top: 1px solid gray;
	width: 100%;
	height: 200px;
	margin-top: 5%;
}
.footer-links{
	position: relative;
	height: 100%;
	width: 88%;
	padding: 5px 0 10px 30px;
}
.col{
	float: left;
	width: 150px;
	padding: 30px 0 0 35px;
}
.col h5{
	font-size: 1.05em;
	height: 28px;
	width: 150px;
}
.col ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
.col li{
	font-size: .98em;
	float: left;
	padding: 0;
	width: 150px;
}
.col li a{
	display: block;
	float: left;
	padding-top: 10px;
	text-decoration: none;
}
/*social media icon---------------*/
.social-icon{
	float: right;
	width: 400px;
	padding-top: 6%;
}
.fa{
	padding: 20px;
	font-size: 30px;
	width: 30px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
.fa:hover{
	opacity: .7;
}
.fa-facebook{
	background: #3b5998;
	color: white;
}
.fa-twitter{
	background: #55acee;
	color: white;
}
.fa-youtube{
	background: #bb0000;
	color: white;
}
.fa-instagram{
	background: #125688;
	color: white;
}



