@media all and (max-width: 48em) {
	#header .container{
		width: 100%;
		}
		#header h1{
			padding-left: 3%;
		}
		#nav {
			width: 100%;
			top: 60px;
		}
		#nav:before{
			content: '\2630';
			display: block;
			position: absolute;
			right: 3%;
			top: -50px;
			line-height: 40px;
			font-size: 1.4em;
			cursor: pointer;
		}
		#nav ul{
			background: #222;
			width: 100%;
			margin: 0px;
		}
		#nav ul li{
			float: none;
		}
		#nav ul li a{
			padding: 10px 3%;
			line-height: 20px;
			border-top: 1px solid #333;
		}
}